<div class="container py-5">
  <div class="row">
    <div class="col-md-6 p-5 d-flex flex-column justify-content-center bg-primary shadow-lg">
      <h3 class="display-4 mb-3 text-white"><%= t("application") %></h3>
      <p class="h4 mb-4 text-white"><%= t("wellcome") %><br><br></p>
    </div>
    <div class="col-md-6 p-5 bg-light shadow-lg" >
      <%= render 'layouts/login' %>
    </div>
  </div>
</div>
