<div class="navbar navbar-expand shadow-sm">
  <ul class="nav">
    <li class="h4 navbar-text"><b>スプリントの編集</b></li>
  </ul>
  <% if false %>
  <!-- <ul class="nav ml-auto">
    <li class="nav-item">
      <%= link_to sprints_path(@project), class: 'nav-link' do %>
        <%= icon("fas","list") %>
        スプリント一覧
      <% end %>
    </li>
  </ul> -->
  <% end %>
</div>

<div class="container-fluid mt-4">
  <%= render 'form' %>
</div>
