<div class="navbar navbar-expand shadow-sm">
  <ul class="nav">
    <li class="navbar-text"><b>新規スプリント</b></li>
  </ul>
  <ul class="nav ml-auto">
    <li class="nav-item">
      <%= link_to sprints_path(@project), class: 'nav-link' do %>
        <%= icon("fas","list") %>
        スプリント一覧
      <% end %>
    </li>
  </ul>
</div>

<div class="container">
  <%= render 'form' %>
</div>
