<div class="page-header">
  <%= link_to project_sprints_path(@version.project), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to @version, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Show
  <% end %>
  <h1>Editing version</h1>
</div>
<div class="container-fluid">
<div class="row">
<%= render 'form_edit' %>
</div>
</div>
