<div class="page-header">
  <%= link_to project_sprints_path(@project), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1 class="pl-4">New version</h1>
</div>

<div class="container-fluid">
  <div class="row">
      <%= render 'form_new' %>
  </div>
</div>
