<div class="page-header">
  <%= link_to project_sprints_path(@project), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New version</h1>
</div>

<%= render 'form' %>
