/* @import "feathericon"; */

/* navbar を fixed-top にしたとき、下のコンテナが重ならないように */

body {
  padding-top: 56px;
}

/* ナブバーのハンバーガーアイコンの枠線を消す */
.navbar-dark .navbar-toggler {
  border-color: $wldl-navbar-bg;
}

.footer {
  padding-right: 65px;
  padding-left: 15px;
  padding-top: 4px;
  padding-bottom: 7px;
  margin-right: 0px;
  margin-left: 0px;
  background-color: $wldl-footer-bg;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/*
 * サイドバー
 */

.sidebar {
  position: fixed;
  top: 56px;
  bottom: 0;
  left: 0;
  z-index: 100; /* ナビゲーションバーの背面 */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
  background-color: $wldl-sidebar-bg;
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: 200px;
  height: calc(50vh - 48px);
  padding-top: 0rem;
  overflow-x: hidden;
  overflow-y: auto; /* ビューポートがコンテンツより短い場合、スクロール可能なコンテンツ */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.unactive {
  color: #f6f8fa;
}

.sidebar .nav-link.active {
  /* color: #007bff; */
  background-color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.fa-black:before {
  color: rgb(0, 0, 0);
}

div.scrollArea {
  height: 300px;
  overflow-y: scroll;
}

/*スクロールバーの横幅指定*/
.scrollArea::-webkit-scrollbar {
  width: 15px;
}
/*スクロールバーの背景色・角丸指定*/
.scrollArea::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #f2f2f2;
  box-shadow: 0 0 4px #aaa inset;
}
/*スクロールバーの色・角丸指定*/
.scrollArea::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #09c9d9;
}

.selected {
  background-color: #51d6ff;
  animation-name: animation-selected;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  transform: translateX(20px);
}

.f-selected {
  background-color: #51d6ff;
  transform: translateX(20px);
}

@keyframes animation-selected {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(20px);
  }
}

p.cbody-style {
  font-size: 14px;
  word-break: break-all;
}

span.cname-style {
  font-size: 15px;
  word-break: break-all;
}

span.cday-style {
  font-size: 12px;
  opacity: 0.5;
  font-style: italic;
  word-break: break-all;
}

.iine-color {
  color: rgb(255, 0, 0);
}

.completed-color {
  background-color: #69e2ce;
}

input[type='checkbox'] {
  transform: scale(1.7);
}

.sizing-120 {
  font-size: 120%;
}
