// 様々なグレー: bootstrap/_variables.scss より引用

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

// 金、銀、銅の色の定義 https://mt-fc.net/gold_and_silver
$wldl-gold: #dbb400;
$wldl-silver: #b2baba;

// https://www.color-site.com/names/549
$wldl-bronze: #9a6229;

// https://www.oit.ac.jp/japanese/oit/communication.html
$oit-school-color: #064583; // 大阪工業大学のスクールカラー: 紺青色
$oit-communication-colo4: #0095bc; // 大阪工業大学のコミュニケーションカラー: シアン色
$oit-bg-color-light: #cbe2ff;
$oit-bg-color: #6aa7ee;
$oit-bg-color-dark: #1d95d4;

/*
$wmd-bg-color:       #3190D2;
$wmd-bg-color-light: #4FE4F3;
$wmd-bg-color-dark:  #064583;
*/

/* udacity-based colors */
$udcy-bg-color: #01b3e3;
$udcy-bg-color-light: #4fe4f3;
$udcy-bg-color-dark: #1d95d4;

$wldl-primary: #3190d2;
$wldl-primary-dark: $oit-school-color;
$wldl-primary-light: #91c6e7;
$wldl-secondary: #834506;
$wldl-secondary-dark: #4d1000;
$wldl-secondary-light: #da9b6c;

// 配色を変更したい場合は、次を変更する
$theme-colors: (
  'primary': $wldl-primary,
  // メインカラー
    'secondary': $udcy-bg-color-light,
  // アクセントカラー
    'light': $wldl-primary-light,
  'dark': $wldl-primary-dark // サブカラー,,
);

/* 
$theme-colors: (
  'primary': $udcy-bg-color,          // メインカラー
  'secondary': $udcy-bg-color-light,  // アクセントカラー
  'light': $udcy-bg-color-light,
  'dark': $oit-school-color           // サブカラー,
);
*/

// navbar, sidebar の背景色は、次を変更しても現在はできない！
$wldl-navbar-bg: $oit-school-color;
$wldl-sidebar-bg: $udcy-bg-color-light;

// footer の背景色を変更したい場合は、次を変更する
$wldl-footer-bg: $gray-200;
